@page
@model RestaurantReviews.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}



<div class="homepage_content">
    <ul class="restaurant_list">

        @{
            foreach (var rest in Model.restaurants)
            {
                <li>
                    <div class="restaurant_card">
                        <div class="card_picture_div">
                            <img src="pic/Restaurant-Zuiver-Amersfoort-16.jpg" alt="restaurant_photo">
                        </div>

                        <div class="card_content">
                            <h2 class="card_r_name"> <a asp-page="/Restaurant" asp-route-id="@rest.Id"> @rest.Name</a></h2>
                            <div class="card_ratings">
                                <div>
                                    Food: @rest.Food_Score
                                </div>
                                <div>
                                    @rest.NumberOfReviews reviews
                                </div>
                                <div>
                                    Price: @rest.Price_Score
                                </div>
                                <div>
                                    Service: @rest.Service_Score
                                </div>

                            </div>
                            <p>
                                Characteristics:  romantic, cozy, beautiful view
                            </p>
                            <p>
                                Cuisine:  Italian, grill, pizza
                            </p>

                        </div>
                        <div class="card_buttons">
                            <a href="">Add to list</a>
                            <a href="">View</a>
                        </div>

                    </div>
                </li>
            }
        }
        @*<li>
            <div class="restaurant_card">
                <div class="card_picture_div">
                    <img src="pic/istockphoto-1248298343-612x612.jpg" alt="">
                </div>

                <div class="card_content">
                    <h2 class="card_r_name">Johny's pizzеria</h2>
                    <div class="card_ratings">
                        <div>
                            Score: 9.6
                        </div>
                        <div>
                            56 reviews
                        </div>
                        <div>
                            Price range: 3/5
                        </div>
                        <div>
                            Service: 4/5
                        </div>

                    </div>
                    <p>
                        Characteristics:  romantic, cozy, beautiful view
                    </p>
                    <p>
                        Cuisine:  Italian, grill, pizza
                    </p>

                </div>
                <div class="card_buttons">
                    <a href="">Add to list</a>
                    <a href="">View</a>
                </div>

            </div>
        </li>
        <li>
            <div class="restaurant_card">
                <div class="card_picture_div">
                    <img src="pic/069ff33e-5aa1-11e9-bbcc-84176f6dd1e7_image_hires_105559.webp" alt="">
                </div>


                <div class="card_content">
                    <h2 class="card_r_name">Name</h2>
                    <div class="card_ratings">
                        <div>

                        </div>
                        <div>

                        </div>
                    </div>
                    <p>

                    </p>
                    <p>

                    </p>

                </div>
                <div class="card_buttons">
                    <a href="">Add to list</a>
                    <a href="">View</a>
                </div>

            </div>
        </li>*@
    </ul>
</div>
