@page
@model RestaurantReviews.Pages.MyreviewsModel
@{
    ViewData["Title"] = "My reviews";
    Layout = "_Layout";
}

<div class="reviews_header">
    My reviews
</div>
<ul class="reviews_list">

    @foreach (var review in Model.reviews)
    {
        <li class="review_wrapper">
            <div class="review_header">
                <div>@review.RestaurantName</div>
                <time datetime="2021-02-13">Date: @review.Date.Day-@review.Date.Month-@review.Date.Year</time>
            </div>
            <div class="review_ratings">
                <div>Food: @review.FoodScore</div>
                <div>Service: @review.ServiceScore</div>
                <div>Price: @review.PriceScore</div>
            </div>
            <p class="review_comment">
                @review.Comment
            </p>
            <a asp-page="/EditReview" asp-route-id="@review.Id" class="edit-button">Edit</a>
        </li>
    }

    

</ul>
