@page 
@model RestaurantReviews.Pages.RestaurantModel
@{
    ViewData["Title"] = "Restaurant";
    Layout = "_Layout";
}


<section class="hero_section">
    <div class="hero_image">
        <img src="pic/Restaurant-Zuiver-Amersfoort-16.jpg" alt="pic">
    </div>
    <h2 class="hero_name">@Model.restaurant.Name</h2>
</section>

<section class="restaurnat_info_wrapper">
    <div class="rest_info_raitings_flex">
        <div class="rest_info_first_column">
            <div>Food: @Model.restaurant.Food_Score</div>
            <div>Service: @Model.restaurant.Service_Score</div>
        </div>

        <div class="rest_info_second_column">
            <div>@Model.restaurant.NumberOfReviews reviews</div>
            <div>Price: @Model.restaurant.Price_Score</div>
        </div>

        <div class="rest_info_third_column">
            <div>Parking: @Model.restaurant.HasParking</div>
            <div>Delivery: @Model.restaurant.HasDelivery</div>
        </div>
    </div>
    <div class="rest_info_characteristics">
        <p>Characteristics:  romantic, cosy, beautiful view</p>
        <p>Cuisine:  @Model.restaurant.Cuisine.ToString()</p>
        <p>Address: @Model.restaurant.City, @Model.restaurant.Street @Model.restaurant.StreetNumber, @Model.restaurant.PostCode</p>
        <p class="last_item">Reservation: @Model.restaurant.PhoneNumber</p>
    </div>
</section>

<div class="reviews_header">
    What people say about this restaurant:
</div>
<ul class="reviews_list">
    @foreach (var review in Model.reviews)
    {
        <li class="review_wrapper">
            <div class="review_header">
                <div>@review.AuthorFirstName @review.AuthorLastName</div>
                <time datetime="2021-02-13">Date: @review.Date.Day-@review.Date.Month-@review.Date.Year</time>
            </div>
            <div class="review_ratings">
                <div>Food: @review.FoodScore</div>
                <div>Price: @review.PriceScore</div>
                <div>Service: @review.ServiceScore</div>
            </div>
            <p class="review_comment">
                @review.Comment
            </p>
        </li>
    }
    

</ul>
